<div class="row">
    <div class="col-sm-12">
        <app-card>

            <h4 class="sub-title">Modifier une actualité</h4>

            <form name="form" novalidate #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">



                <div class="row">
                    <div class="col-sm-12 mobile-inputs">

                        <div class="form-group row">

                            <label class="col-sm-2 col-form-label">Titre</label>
                            <div class="col-sm-4">
                                <input name="titre" #titre="ngModel" required [(ngModel)]="actualite.titre" type="text"
                                    class="form-control">

                                <div class="alert alert-danger" *ngIf="f.submitted && titre.invalid">
                                    <span *ngIf="titre.errors.required">required</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>





                <div class="row">
                    <div class="col-sm-12 mobile-inputs">

                        <div class="form-group row">

                            <label class="col-sm-2 col-form-label">Texte</label>
                            <div class="col-sm-4">
                                <textarea name="texte" #texte="ngModel" required [(ngModel)]="actualite.texte"
                                    class="form-control" placeholder="Description"></textarea>
                                <div class="alert alert-danger" *ngIf="f.submitted && texte.invalid">
                                    <span *ngIf="texte.errors.required">required</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>





                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Image</label>
                    <div class="col-sm-10">

                        <input [ngModelOptions]="{ standalone: true }" [(ngModel)]="actualite.image" type="file"
                            (change)="selectFileimg1($event)" name="uploadFileimg1" id="upload-photo"
                            class="upload-box">

                        <img class="files-lists img-responsive" onerror="this.src='assets/images/done.png'"
                            *ngIf="actualite.image" [src]="actualite.image" style=" width: 200px; height: auto;">
                        <label class="uploadimg" for="upload-photo">Cliquez ici pour modifier l'image</label>

                    </div>
                </div>


                <div class="center">
                    <button class="btn btn-primary topp">Modifier</button>
                </div>
            </form>


        </app-card>

    </div>
</div>